<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Welkom</title>
    <link rel="stylesheet" th:href="@{/css/security.css}"></link>
</head>
<body>
<h1>Menu</h1>
<ul>
    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Inloggen</a></li>
    <li sec:authorize-url="/werknemershiërarchie"><a th:href="@{/Werknemershiërarchie}">Offertes</a></li>
    <li sec:authorize-url="/jobtitels"><a th:href="@{/jobtitels}">Werknemers</a></li>
</ul>
<form method="post" th:action="@{/logout}" sec:authorize="isAuthenticated()">
    <button><span sec:authentication="name"></span> uitloggen</button>
</form>
</body>
</html>