<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<body>


<div th:each="werknemers:${werknemerPerId}">
    <h1 th:text="*{'Opslag voor' + ' ' + werknemers.getVoornaam() + ' ' + werknemers.getFamilienaam()}"></h1>




    <dl>
        <dt>Huidig salaris</dt>
        <dd th:text="*{werknemers.getSalaris()}"></dd>
    </dl>


    <form method="post" th:object="${opslagForm}" th:action="@{/opslag/{id}/opslag(id=${werknemers.id})}">
        <label autofocus required></label>
        <label>Bedrag:<span th:errors="*{nieuwSalaris}"></span>
            <input th:field="*{nieuwSalaris}" autofocus type="number" required min="1">
        </label>


        <button>Toevoegen</button>
    </form>
    </div>

</body>
</html>