<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offertes</title>
    <link rel="stylesheet" th:href="@{/css/security.css}"></link>
</head>
<body>

<div th:each="werknemer:${werknemer}">
    <h1 th:text="*{werknemer.getVoornaam() + ' ' + werknemer.getFamilienaam()}"></h1>

    <dl>
        <dt>Voornaam</dt>
        <dd th:text="*{werknemer.getVoornaam()}"></dd>
        <dt>Familienaam</dt>
        <dd th:text="*{werknemer.getFamilienaam()}"></dd>
        <dt>Email adres</dt>
        <dd th:text="*{werknemer.getEmail()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{werknemer.getSalaris()}"></dd>
        <dt>Jobtitel</dt>
        <dd th:text="*{werknemer.getJobtitel()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{werknemer.getGeboorte()}"></dd>
        <dt>Chef</dt>
        <dd th:each="chef:${werknemer.getWerknemer}" th:text="*{chef.getVoornaam}"></dd>
        <dt>Ondergeschikten</dt>

        <img th:src="${'/images/' + werknemer.getId() + '.jpg'}" th:alt="${werknemer.getVoornaam()}"/>

<!--        <a th:href="@{/opslag/{id}(id=*{werknemer.getId()})}" th:text=Opslag"></a>-->
        <!--        Deze werkt niet, weet niet waarom-->
    </dl>
</div>

<div th:each="werknemers:${werknemerPerId}">
    <h1 th:text="*{werknemers.getVoornaam() + ' ' + werknemers.getFamilienaam()}"></h1>




    <dl>
        <dt>Voornaam</dt>
        <dd th:text="*{werknemers.getVoornaam()}"></dd>
        <dt>Familienaam</dt>
        <dd th:text="*{werknemers.getFamilienaam()}"></dd>
        <dt>Email adres</dt>
        <dd th:text="*{werknemers.getEmail()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{werknemers.getSalaris()}"></dd>
        <dt>Jobtitel</dt>
        <dd th:text="*{werknemers.getJobtitel()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{werknemers.getGeboorte()}"></dd>
        <dt>Chef</dt>
        <dd th:each="chef:${werknemers.getWerknemer()}" th:text="*{chef.getVoornaam}"></dd>
        <dt>Ondergeschikten</dt>


        <img th:src="${'/images/' + werknemers.getId() + '.jpg'}" th:alt="${werknemers.getVoornaam()}"/>

<!--        <a th:href="@{/opslag/{id}(id=*{werknemers.getId()})}" th:text=Opslag"></a>-->
<!--        Deze werkt niet, weet niet waarom-->

    </dl>

</div>

</body>
</html>