<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offertes</title>
    <link rel="stylesheet" th:href="@{/css/security.css}"></link>
</head>
<body>

<div>
    <h1 th:text="*{werknemerPerId.getVoornaam() + ' ' + werknemerPerId.getFamilienaam()}"></h1>
    <dl th:object="${werknemerPerId}">
        <dt>Voornaam</dt>
        <dd th:text="*{getVoornaam()}"></dd>
        <dt>Familienaam</dt>
        <dd th:text="*{getFamilienaam()}"></dd>
        <dt>Email adres</dt>
        <dd th:text="*{getEmail()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{getSalaris()}"></dd>
        <dt>Jobtitel</dt>
        <dd th:text="*{getJobtitel()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{getGeboorte()}"></dd>
        <dt th:if="*{getWerknemer() != null}" th:text="Chef"></dt>
        <dd ><a th:href="@{/werknemer/{id}(id=*{getWerknemer().getId()})}" th:if="*{getWerknemer() != null}" th:text="*{getWerknemer().getVoornaam()}" ></a></dd>
        <dt th:if="${!ondergeschikten.isEmpty()}" th:text="Ondergeschikten"></dt>
    </dl>
    <dl th:each="o:${ondergeschikten}">
        <dd ><a th:href="@{/werknemer/{id}(id=*{o.getId()})}" th:text="*{o.getVoornaam()}" ></a></dd>
    </dl>


    </dl>
    <img th:src="*{'/images/' + werknemerPerId.getId() + '.jpg'}" th:alt="*{werknemerPerId.getVoornaam()}"/>
    <br>
    <a th:href="@{/opslag/{id}(id=*{werknemerPerId.getId()})}" th:text="Opslag"></a>
</div>


</body>
</html>