<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offertes</title>
    <link rel="stylesheet" th:href="@{/css/security.css}"></link>
</head>
<body>

<div th:object="${werknemerPerId}">
    <h1 th:text="*{getVoornaam() + ' ' + getFamilienaam()}"></h1>


    <dl>
        <dt>Voornaam</dt>
        <dd th:text="*{getVoornaam()}"></dd>
        <dt>Familienaam</dt>
        <dd th:text="*{getFamilienaam()}"></dd>
        <dt>Email adres</dt>
        <dd th:text="*{getEmail()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{getSalaris()}"></dd>
        <dt>Jobtitel</dt>
        <dd th:text="*{getJobtitel()}"></dd>
        <dt>Salaris</dt>
        <dd th:text="*{getGeboorte()}"></dd>
        <dt>Chef</dt>
        <dd th:each="baas:${werknemerPerId.getWerknemer()}" th:text="*{getVoornaam()}"></dd>
        <dt>Ondergeschikten</dt>
        <dd th:each="onder:${ondergeschikten}" th:text="*{getVoornaam}"></dd>


    </dl>
<!--    <img th:src="${'/images/' + *{getId()} + '.jpg'}" th:alt="*{getVoornaam()}"/>-->

    <a th:href="@{/opslag/{id}(id=*{getId()})}" th:text="Opslag"></a>
</div>

</body>
</html>